.booking-section {
  justify-content: center;
}

.booking-section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.booking-section form {
  border: 2px solid #495e57;
  padding: 24px 16px;
}

.booking-section form > div {
  padding-bottom: 16px;
}

.booking-section button {
  margin-top: 24px;
}
