footer {
  padding: 64px 16px;
}

footer > section > img {
  height: 160px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul > li {
  padding: 8px 0;
}

footer h3 {
  margin-top: 0;
}
